<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
     crossorigin="anonymous">
    <title>Instructions</title>

    <style>
        body{
            background-color: rgb(167, 39, 146);
            color: white;
            
        }
    </style>
</head>
<body >
<p>

 {{>navbar}}
<h3>Instructions</h3>
<p>1.Please Make sure Food is Untouched.</p>
<p>2.Make sure you wear mask and gloves while packing the food.</p>
<p>3.Maintain Hygiene</p>
<p>4.Make Sure you use spill proof container.</p>
</p>    
<h3>Thank you for your donation.<br></h3>
</body>
</html>