<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
     crossorigin="anonymous">

     <style>

         button{
color:ghostwhite;
border: none;
background-color: #ad45a8;

}
         input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(5, 5, 5);
    margin-bottom: 9px;
    border: none;
    border-bottom: 1px solid rgb(15, 10, 10);
    outline: none;
    background: transparent;
  }
    
    .login-box {
    position: absolute;
    height: 700px;
    top: 110%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(205, 220, 224, 0.801);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    box-align:left;
    flex-direction:  column;
  }

    body{
        background-image: url('https://www.businessinsider.in/photo/82230244/The-COVID-19-crisis-would-be-much-worse-without-these-good-samaritans-of-India-providing-home-cooked-food-financial-assistance-and-medicines.jpg');
        background-repeat: no-repeat;
         background-attachment: fixed;
        background-size: cover;
        
    }
    


     </style>
         
     </body>
</head>
<body>
     {{>navbar}} 

<center>
    

<form action="/vol" method="POST" class="login-box">
<a href="/vollogin">Already Register??</a><br><br>
<div>Volunteer Details</div><br>
<div>

    
        <div>
            <input type="text" name="volname" placeholder="Name" required>
    </div>
    
        <div>
            <input type="email" name="volemail" placeholder="Email" required>
    </div>
    
        <div>
            <input type="number" name="volno" placeholder="Contact No" required>
    </div>
     
        {{!-- <div>
      <textarea name="voladd" placeholder="Address" ></textarea>  
       <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7736499.148433491!2d72.27657120898783!3d18.771954772859896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcfc41e9c9cd6f9%3A0x1b2f22924be04fb6!2sMaharashtra!5e0!3m2!1sen!2sin!4v1622890315989!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p> --}}
      
        
        
        <div>
        <input type="password" name="volpassword" placeholder="Password"  required>
    </div>
    
    <div>
        <input type="password" name="volcpassword" placeholder="Confirm Password" required>
    </div>
    <div>
        Vehical mode:
        </div>
        <div>
            <input type="radio" name="volveh" value="Two wheeler" required>Two Wheeler</input><br>
            <input type="radio" name="volveh" value="Four Wheeler" required>Four Wheeler</input><br>
            <input type="radio" name="volveh" value="Others" required>Others</input>

    </div>
    <div>
         <button type="submit" name="submit">Submit</button> 
    </div> 
    </form>
    </center>
    <script>
        function func() {
       window.location.assign("/login")
}  

    </script>
    </body>
</html>